* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 1000px;
}

.container {
    width: 60%;
    /*background-color: #3671a2;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    transform-style: preserve-3d;

    min-height: 80vh;
    width: 35rem;

    border-radius: 30px;
    padding: 0 5rem;

    /*background-color: #fdca3a;*/
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0);
}

.sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #3671a2;*/
}

.sneaker img {
    width: 15rem;
    z-index: 2;
    opacity: 0.9;

    transition: all 0.75s ease-out;
}

.circle {
    position: absolute;
    opacity: 0.9;

    width: 18rem;
    height: 13rem;
    background: linear-gradient(
        to right,
        #0e153a,
        #22d1ee
    );

    border-radius: 100% 0%;

    z-index: 1;
}

.info h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.info p {
    font-size: 1.3rem;
    padding: 2rem 0;
    color: #585858;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: justify;
}

.sizes {
    display: flex;
    justify-content: space-between;
}

.sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}

button.active {
    background: #0e153a;
    color: white;
}

.purchase {
    margin-top: 5rem;
}

.purchase button {
    width: 100%;
    padding: 1rem 0;
    background: #0e153a;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
}
